.pokemon {
    min-height: 150px;
    width: 200px;
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
}
.own-pokemon-name {
    font-size: 23px;
    font-weight: bold;
}
.actual-pokemon-name-place {
    font-size: 13px;
}
.actual-pokemon-name {
    text-transform: capitalize;
}

@media (max-width: 720px) {
    .pokemon {
        min-height: 100px;
        width: 150px;
    }
    .own-pokemon-name {
        margin-top: 7px;
    }
}