.pokemon {
    min-height: 150px;
    width: 200px;
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
}

.pokemon:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.pokemon-name {
    font-size: 23px;
    font-weight: bold;
    text-transform: capitalize;
}
.pokemon-own {
    font-size: 13px;
}

@media (max-width: 720px) {
    .pokemon {
        min-height: 100px;
        width: 150px;
    }
}